

<div style="min-height: 65vh">

    <div class="text-center m-2 mb-4">
        <h2>Favourite List</h2>
    </div>

    <div class="card shadow py-2 glass-container">
        <div class="row m-0 justify-content-evenly">
            <div class="col-sm-2 p-1">
                <input type="button" style="width:100%" class="btn btn-primary" value="Edit" />
            </div>
            <div class="col-sm-6 p-1" id="selectContainer">
                <select class="form-select" disabled>
                    <option>Loading.....</option>
                </select>
            </div>
            <div class="col-sm-2 p-1">
                <input type="button" class="btn btn-primary w-100" value="+" id="btnShowCreateModal" />
            </div>
        </div>
    </div>

    <div class="p-2">
        <div class="card shadow glass-container" id="jokeContainer" style="min-height: 40vh">
        </div>
    </div>

</div>


<div class="modal fade" id="createListModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content glass-hazy-container">
            <div class="modal-header">

                <h5 class="modal-title">Create List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">

                <form id="createListForm">
                    <input type="text" name="listName" class="form-control" />
                    <input type="submit" value="Add List" class="btn btn-success" />
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/favourite.js"></script>
}
