

<div style="min-height: 65vh">

    <div class="text-center m-2 mb-4">
        <h2>Favourite List</h2>
    </div>

    <div class="card shadow py-2">
        <div class="row m-0 justify-content-evenly">
            <div class="col-sm-2 p-1">
                <input type="button" style="width:100%" class="btn btn-primary" value="Edit" />
            </div>
            <div class="col-sm-6 p-1" id="selectContainer">
                <select class="form-select" disabled>
                    <option>Loading.....</option>
                </select>
            </div>
            <div class="col-sm-2 p-1">
                <input type="button" class="btn btn-primary w-100" value="+" onclick="$('#createListModal').modal('show')" />
            </div>
        </div>
    </div>

    <div class="p-2">
        <div class="card shadow" id="jokeContainer" style="min-height: 40vh">
        </div>
    </div>

</div>


<div class="modal fade" id="createListModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title">Create List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">

                <form id="createListForm">
                    <input type="text" name="listName" class="form-control" />
                    <input type="submit" value="Add List" class="btn btn-success" />
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("load", async (e) => {
         updateDDL()
        document.getElementById("createListForm").addEventListener('submit', async (e) => {
            await handleCreateList(e);
        })
    });

    async function updateDDL(){
        let result = await fetch('/Favourite/FavouriteListDDL');
        let htmlResult = await result.text();
        document.getElementById('selectContainer').innerHTML = htmlResult;

        let ddlContainer = document.getElementById('selectContainer');
        let ddl = ddlContainer.querySelector('select');
        ddl.addEventListener('change', async (e) => {
            handleDDLChange(e);
        })

    }

    async function handleDDLChange(e){
        let selectedOption = e.target.selectedOptions[0]
        sessionStorage.setItem('listID', selectedOption.value)
        sessionStorage.setItem('listName', selectedOption.text)

        let result = await fetch('/Favourite/GetJokesForList?listID=' + selectedOption.value);
        let htmlResult = await result.text();
        document.getElementById('jokeContainer').innerHTML = htmlResult
    }

    async function handleCreateList(e) {
        e.preventDefault();

        console.log(e.target["listName"].value);

        let result = await fetch('/Favourite/AddNewList', {
            method: 'POST',
            headers: {
                'content-type': 'application/json'
            },
            body: JSON.stringify(e.target["listName"].value)
        });

        if (result.ok) {
            await updateDDL();
            $('#createListModal').modal('hide');
        }

    }

     async function removeJoke(jokeId){
        let listID = sessionStorage.getItem("listID");

        let favListItem = {
            FavouriteListId: listID,
            JokeId: jokeId
        }

        let result = await fetch('/Favourite/RemoveJokeFromList', {
            method: 'DELETE',
            headers: {
                'content-type': 'application/json'
            },
            body: JSON.stringify(favListItem)
        });
        if(result.ok){
            // Update Joke Table

            let result = await fetch('/Favourite/GetJokesForList?listID=' + listID);
            let htmlResult = await result.text();
            document.getElementById('jokeContainer').innerHTML = htmlResult
        }

        console.log(favListItem);
    }


</script>