@model IEnumerable<JokesMVC2023.Models.Data.Joke>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<input type="button" value="Update Table" class="btn btn-outline-light" onclick="startTimer()" />

<div id="JokeTableContainer">
    <partial name="_JokeTable.cshtml" />
</div>

<script>

    async function startTimer(){
        setInterval(async (e) => {
            updateTable();
        }, 1000)
    }

    async function updateTable(){
        // Send a GET request to the /Joke/JokeTablePartial endpoint
        let response = await fetch('/Joke/JokeTablePartial');

        // Parse the results as text
        let htmlResponse = await response.text();

        // overwrite the JokeTableContainer innerHTML with the new data
        document.getElementById('JokeTableContainer').innerHTML = htmlResponse;
    }
</script>